<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ("./header.ejs") %>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="alert alert-success" role="alert">
                <!-- <% if(userid) {%> -->
                HELLO <%=userid%> !
                <!-- <% } %> -->
            </div>
        </div>
        <h1>waiting room</h1>
        <button type="button" class="btn btn-outline-secondary" style="float:right;" onclick="location.href='/new-room'">new room</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">room</th>
                    <th scope="col">people</th>
                </tr>
            </thead>
            <!-- <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Let's Talk</td>
                  <td>Otto</td>
                </tr>
            </tbody>   -->
            <tbody>
                <% if(room != null && room.length >0){ %>
                    <% for(var i =0; i<room.length; i++ ){ %>
                        <tr>
                            <th scope="row"><%=room[i].room_id%></th>
                            <td><a onclick="goToRoom('<%=room[i].room_id%>','<%=room[i].room_name%>')"><%=room[i].room_name%></a></td>
                            <td>0명</td>
                        </tr>
                    <% }
                } else {%>
                    <tr> 
                        <td colspan='3' style="text-align: center;">
                            <b>채팅방이 존재하지 않습니다.</b> 
                        </td>
                    </tr>
                <% } %>
            </tbody>  
        </table>
    </div>
    <%- include ("./footer.ejs") -%>
</body>
<script>
    function goToRoom(roomId, roomName){
        location.href = "/room?roomId="+roomId+"&roomName="+roomName;
    }
</script>
</html>